//-
	@file Defines a hero mixin
	@author Phil Hauser phil.hsr@gmail.com

//- Dependencies
include ../../atoms/_logo/_logo


//- Definition
mixin hero()

	section.hero
		.intro
			h1 
				span I am a .NET Developer based in the North West
			a(href="#contact") Get in touch
