//-
	@file Defines a nav mixin
	@author Phil Hauser phil.hsr@gmail.com

//- Dependencies
include ../../atoms/_logo/_logo


//- Definition
mixin nav()

	header

		+logo()

		nav 
			ul 
				li.menu 
					a(href="#") Menu
				li 
					a(href="examples.html") Examples
				li 
					a(href="about.html") About 
				li 
					a(href="blog.html") Blog
				li
					button Contact
