/**
 * @file Defines styles for the nav page
 * @author Phil Hauser phil.hsr@gmail.com
 */

$medium: 615px;


header{
		background: rgba(0,0,0,0.1);
		width: 100%;
		position: fixed;
		top: 0;
		height: 3.3rem;
		overflow: hidden;
		-webkit-transition: height 1s, background 1s;
		transition: height 1s, background 1s;
		z-index: 999;
		max-width: 64rem;
		margin: 0 auto;

		&.show{
			height: 16.3rem;
			background: white;
		}

		.logo{
			max-height: 40px;
		}

		nav{
			ul{
				padding: 0;
				margin: 0;
				margin-top: 1rem;
			}
			li{
				border-bottom: 1px solid grey;
				display: block;
				text-decoration: none;
				margin: 0 0.5rem;
				padding: 0 0.5rem;
				text-align: center;

				a{
					padding: 1rem 0.5rem;
					display: block;
					text-decoration: none;
					color: black;
					&:hover{
						background: none;
					}
				}
				button{
					margin: 0.5rem;
					background: transparent;
					border: 2px solid rgba(0,0,0,0.1);
					border-radius: 0.2rem;
				}
				&.menu{
					border: 1px solid black;
					border-radius: 0.4rem;
					display: inline-block;
					position: absolute;
					right: 0;
					top: 0.5rem;
					a{
						padding: 0.5rem;
					}
				}
			}
		}

		.logo{
			font-family: $font-family-brand;
			display: inline-block;
			margin-top: 0.5rem;
			margin-left: 2rem;

			a{
				text-decoration: none;
				font-weight: 700;
				color: black;
				font-size: 1.5rem;
			}
		}


		@include at-min-width($medium) {
			webkit-transition: height 0s;
			transition: height 0s;
			overflow: auto;
			nav{
				display: inline-block;
				position: absolute;
				right: 1rem;
				width: 70%;
				top: 0rem;
				ul{
					position: absolute;
					right: 1rem;
					margin-top: 0rem;

					li{
						border-bottom: 0px;
						display: inline-block;
						margin: 0;
						padding: 0;
						a{
							&:hover{
								background: lightblue;
							}
						}
						&.menu{
							display: none;
						}
					}
				}
			}

			.logo{
				font-family: $font-family-brand;
				margin-top: 0.5rem;
				margin-left: 2rem;

				a{

				}
			}
		}
}