/**
 * @file Defines styles for the examples page
 * @author Phil Hauser phil.hsr@gmail.com
 */

section.examples{
	height: 100%;
	text-align: center;
	display: block;
	background: white;
	padding-top: 5rem;
	h4{
		color: #919295;
		font-size: 2rem;
		font-weight: 300;
		padding-top: 2rem;

		a{
			@extend %hover-effect;
			text-decoration: none;
			position: relative;
			color: #6C6D6D;
		}
	}

	.example-container-wrapper{
		margin-top: 4rem;
	}

	@include at-min-width("500px"){
		.example_container{
			width: 100%;
		}
	}
}