/**
 * @file Defines styles for the contact page
 * @author Phil Hauser phil.hsr@gmail.com
 */

section.contact{
	height: 100%;
	width: 100%;
	background: #C2EBCF;
	padding-top: 5rem;

	h4{
		font-size: 2rem;
		font-weight: 300;
		text-align: center;
		margin-bottom: 3rem;
	}
	textarea{
		width: 40%;
		height: 30%;
		font-size: 1.6rem;
		font-weight: 300;
		border: 0;
		background: rgba(0,0,0,0.1);
		margin: 0 auto;
	}
	button{
		background: transparent;
		border: 3px solid rgba(0,0,0,0.1);
		border-radius: 0.3rem;
		font-size: 1.5rem;
	}
}