//-
	@file Defines a contact mixin
	@author Phil Hauser phil.hsr@gmail.com

//- Dependencies

//- Definition
mixin contact()

	section.contact
		h4 Want to get in touch
		textarea
		button Send
		p I will get back to you soon 
