//-
	@file Defines a example-container mixin
	@author Phil Hauser phil.hsr@gmail.com

//- Dependencies

//- Definition
mixin example_container(content)

	.example-container
		img(src="#{content.img}")
		h3 #{content.title}
		p #{content.body}
