// Colours
$softgrey: #f2f2f2;
$lightgrey: #C2C2C2;
$midgrey: #8F8F8F;
$middarkgrey: #5C5C5C;
$darkgrey: #292929;
$superdarkgrey: #141414;


// Font sizes
$font-size-xsmall: 0.6rem;
$font-size-small: 0.8rem;
$font-size-medium: 1rem;
$font-size-large: 1.125rem;
$font-size-xlarge: 1.5rem;
$font-size-xxlarge: 2rem;
$font-size-xxxlarge: 2.3125rem;
$font-size-xxxxlarge: 4rem;

$lightfontweight: 100;
$regularfontweight: 300;
$mediumfontweight: 600;
$heavyfontweight: 700;

$font-family: 'Lato', sans-serif;;
$font-family-brand: $font-family;

// Whitespace
$wsunit: 1.25rem; // nominally 20px
$wsunit2: 0.6rem; // nominally 10px


html,body{
	font-family: $font-family;
	height: 100%;
	max-width: 64rem;
	margin: 0 auto;
}

%hover-effect{

		&::after {
			position: absolute;
			top: 100%;
			left: 0;
			width: 100%;
			height: 4px;
			background: rgba(0,0,0,0.1);
			content: '';
			opacity: 0;
			-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
			-moz-transition: opacity 0.3s, -moz-transform 0.3s;
			transition: opacity 0.3s, transform 0.3s;
			-webkit-transform: translateY(10px);
			-moz-transform: translateY(10px);
			transform: translateY(10px);
		}

		&:hover::after,
		&:focus::after {
			opacity: 1;
			-webkit-transform: translateY(0px);
			-moz-transform: translateY(0px);
			transform: translateY(0px);
		}
}